In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea
from scipy import stats
import plotly as py
import plotly.graph_objs as go
import missingno as msno #find missing values
from sklearn.metrics import mean_squared_error, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
py.offline.init_notebook_mode(connected = True)
pd.options.display.max_columns = 250

In [2]:
test_df = pd.read_csv('/Users/manish/iCloud Drive (Archive)/Desktop/Desktop/Projects/House new/test.csv')

In [4]:
print('Train dataset Shape {}'.format(test_df.shape))

Train dataset Shape (1459, 80)

In [6]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,PConc,TA,TA,No,GLQ,602.0,Unf,0.0,324.0,926.0,GasA,Ex,Y,SBrkr,926,678,0,1604,0.0,0.0,2,1,3,1,Gd,7,Typ,1,Gd,Attchd,1998.0,Fin,2.0,470.0,TA,TA,Y,360,36,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,PConc,Gd,TA,No,ALQ,263.0,Unf,0.0,1017.0,1280.0,GasA,Ex,Y,SBrkr,1280,0,0,1280,0.0,0.0,2,0,2,1,Gd,5,Typ,0,NaN,Attchd,1992.0,RFn,2.0,506.0,TA,TA,Y,0,82,0,0,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
#removing ID column as it does not provide any valuable information
test_df.drop(['Id'], axis = 1, inplace = True)

In [8]:
def missing_values(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = round(total / len(data.index) * 100, 2)
    return pd.concat([total, percent], axis = 1, keys = ['Total', 'Percent'])

In [15]:
missing_values(test_df).head(33)

              Total  Percent
LotFrontage     227    15.56
GarageFinish     78     5.35
GarageCond       78     5.35
GarageQual       78     5.35
GarageYrBlt      78     5.35
GarageType       76     5.21
BsmtCond         45     3.08
BsmtQual         44     3.02
BsmtExposure     44     3.02
BsmtFinType1     42     2.88
BsmtFinType2     42     2.88
MasVnrType       16     1.10
MasVnrArea       15     1.03
MSZoning          4     0.27
Functional        2     0.14
BsmtHalfBath      2     0.14
BsmtFullBath      2     0.14
Utilities         2     0.14
Exterior2nd       1     0.07
Exterior1st       1     0.07
KitchenQual       1     0.07
TotalBsmtSF       1     0.07
GarageCars        1     0.07
SaleType          1     0.07
BsmtUnfSF         1     0.07
GarageArea        1     0.07
BsmtFinSF2        1     0.07
BsmtFinSF1        1     0.07
RoofStyle         0     0.00
RoofMatl          0     0.00
BldgType          0     0.00
YearRemodAdd      0     0.00
YearBuilt         0     0.00

In [14]:
test_df.drop(['PoolQC', 'MiscFeature','Alley', 'Fence', 'FireplaceQu'], axis = 1, inplace = True)

In [16]:
test_df['LotFrontage'] = test_df['LotFrontage'].fillna(test_df['LotFrontage'].mode()[0])
test_df['GarageFinish'] = test_df['GarageFinish'].fillna(test_df['GarageFinish'].mode()[0])
test_df['GarageQual'] = test_df['GarageQual'].fillna(test_df['GarageQual'].mode()[0])
test_df['GarageCond'] = test_df['GarageCond'].fillna(test_df['GarageCond'].mode()[0])
test_df['GarageCond'] = test_df['GarageCond'].fillna(test_df['GarageCond'].mode()[0])
test_df['BsmtExposure'] = test_df['BsmtExposure'].fillna(test_df['BsmtExposure'].mode()[0])
test_df['BsmtFinType2'] = test_df['BsmtFinType2'].fillna(test_df['BsmtFinType2'].mode()[0])
test_df['BsmtFinType1'] = test_df['BsmtFinType1'].fillna(test_df['BsmtFinType1'].mode()[0])
test_df['MasVnrType'] = test_df['MasVnrType'].fillna(test_df['MasVnrType'].mode()[0])
test_df['MasVnrArea'] = test_df['MasVnrArea'].fillna(test_df['MasVnrArea'].mode()[0])
test_df['MSZoning'] = test_df['MSZoning'].fillna(test_df['MSZoning'].mode()[0])
test_df['GarageYrBlt'] = test_df['GarageYrBlt'].fillna(test_df['GarageYrBlt'].mode()[0])
test_df['GarageType'] = test_df['GarageType'].fillna(test_df['GarageType'].mode()[0])
test_df['BsmtCond'] = test_df['BsmtCond'].fillna(test_df['BsmtCond'].mode()[0])
test_df['BsmtQual'] = test_df['BsmtQual'].fillna(test_df['BsmtQual'].mode()[0])

In [19]:
test_df['Utilities'] = test_df['Utilities'].fillna(test_df['Utilities'].mode()[0])
test_df['BsmtHalfBath'] = test_df['BsmtHalfBath'].fillna(test_df['BsmtHalfBath'].mode()[0])
test_df['BsmtFullBath'] = test_df['BsmtFullBath'].fillna(test_df['BsmtFullBath'].mode()[0])
test_df['Functional'] = test_df['Functional'].fillna(test_df['Functional'].mode()[0])
test_df['KitchenQual'] = test_df['KitchenQual'].fillna(test_df['KitchenQual'].mode()[0])
test_df['Electrical'] = test_df['Electrical'].fillna(test_df['Electrical'].mode()[0])
test_df['BsmtUnfSF'] = test_df['BsmtUnfSF'].fillna(test_df['BsmtUnfSF'].mode()[0])
test_df['BsmtFinSF2'] = test_df['BsmtFinSF2'].fillna(test_df['BsmtFinSF2'].mode()[0])
test_df['BsmtFinSF1'] = test_df['BsmtFinSF1'].fillna(test_df['BsmtFinSF1'].mode()[0])
test_df['GarageArea'] = test_df['GarageArea'].fillna(test_df['GarageArea'].mode()[0])
test_df['SaleType'] = test_df['SaleType'].fillna(test_df['SaleType'].mode()[0])
test_df['GarageCars'] = test_df['GarageCars'].fillna(test_df['GarageCars'].mode()[0])
test_df['TotalBsmtSF'] = test_df['TotalBsmtSF'].fillna(test_df['TotalBsmtSF'].mode()[0])
test_df['Exterior1st'] = test_df['Exterior1st'].fillna(test_df['Exterior1st'].mode()[0])
test_df['Exterior2nd'] = test_df['Exterior2nd'].fillna(test_df['Exterior2nd'].mode()[0])

In [21]:
missing_values(test_df).head(5)

               Total  Percent
SaleCondition      0      0.0
YearRemodAdd       0      0.0
RoofMatl           0      0.0
Exterior1st        0      0.0
Exterior2nd        0      0.0

In [25]:
test_df.to_csv('formulated_test.csv', index = False)

In [26]:
d = pd.read_csv('formulated_test.csv')

In [27]:
d.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,PConc,TA,TA,No,GLQ,602.0,Unf,0.0,324.0,926.0,GasA,Ex,Y,SBrkr,926,678,0,1604,0.0,0.0,2,1,3,1,Gd,7,Typ,1,Attchd,1998.0,Fin,2.0,470.0,TA,TA,Y,360,36,0,0,0,0,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,PConc,Gd,TA,No,ALQ,263.0,Unf,0.0,1017.0,1280.0,GasA,Ex,Y,SBrkr,1280,0,0,1280,0.0,0.0,2,0,2,1,Gd,5,Typ,0,Attchd,1992.0,RFn,2.0,506.0,TA,TA,Y,0,82,0,0,144,0,0,1,2010,WD,Normal

In [103]:
df = pd.DataFrame({'Animals':['cat','dog', 'snake', 'dog', 'chicken', 'pig', 'snake', 'cat', 'dog'],
                   'Weight':[20,30,20,10,50,40,60,30,10]})

In [104]:
df

   Animals  Weight
0      cat      20
1      dog      30
2    snake      20
3      dog      10
4  chicken      50
5      pig      40
6    snake      60
7      cat      30
8      dog      10

In [64]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [41]:
lb = LabelEncoder()

In [43]:
lb.fit_transform(df['Animals'])

array([0, 2, 4, 2, 1, 3, 4, 0, 2])

In [45]:
df['Animals'] = lb.fit_transform(df['Animals'])

In [54]:
df

   Animals  Weight
0      cat      20
1      dog      30
2    snake      20
3      dog      10
4  chicken      50
5      pig      40
6    snake      60
7      cat      30
8      dog      10

In [60]:
lb.fit(df['Animals'])

LabelEncoder()

In [61]:
lb_name_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))

In [62]:
lb_name_mapping

{'cat': 0, 'chicken': 1, 'dog': 2, 'pig': 3, 'snake': 4}

In [63]:
lb.transform(df['Animals'])

array([0, 2, 4, 2, 1, 3, 4, 0, 2])

In [65]:
dic = {'cat': 0, 'chicken': 5, 'dog': 2, 'pig': 4, 'snake': 3}

In [78]:
oe = OrdinalEncoder()

In [80]:
oe.fit_transform([['cat',0],['chicken',5],['dog',2],['pig',4],['snake',3]])

array([[0., 0.],
       [1., 4.],
       [2., 1.],
       [3., 3.],
       [4., 2.]])

In [94]:
df1 = pd.get_dummies(df['Animals'], drop_first = True)

In [95]:
df1

   chicken  dog  pig  snake
0        0    0    0      0
1        0    1    0      0
2        0    0    0      1
3        0    1    0      0
4        1    0    0      0
5        0    0    1      0
6        0    0    0      1
7        0    0    0      0
8        0    1    0      0

In [88]:
df2 = pd.concat([df, df1], axis = 1)

In [89]:
df2

   Animals  Weight  chicken  dog  pig  snake
0      cat      20        0    0    0      0
1      dog      30        0    1    0      0
2    snake      20        0    0    0      1
3      dog      10        0    1    0      0
4  chicken      50        1    0    0      0
5      pig      40        0    0    1      0
6    snake      60        0    0    0      1
7      cat      30        0    0    0      0
8      dog      10        0    1    0      0

In [90]:
df2.drop(['Animals'], axis = 1)

   Weight  chicken  dog  pig  snake
0      20        0    0    0      0
1      30        0    1    0      0
2      20        0    0    0      1
3      10        0    1    0      0
4      50        1    0    0      0
5      40        0    0    1      0
6      60        0    0    0      1
7      30        0    0    0      0
8      10        0    1    0      0

In [105]:
def func(data, column):
    main_df = df
    
    df_1 = pd.get_dummies(data[column], drop_first = True)
    
    main_df = pd.concat([main_df, df_1], axis = 1)
    
    main_df.drop([column], axis = 1, inplace = True)
    
    return main_df

In [106]:
func(df, 'Animals')

   Weight  chicken  dog  pig  snake
0      20        0    0    0      0
1      30        0    1    0      0
2      20        0    0    0      1
3      10        0    1    0      0
4      50        1    0    0      0
5      40        0    0    1      0
6      60        0    0    0      1
7      30        0    0    0      0
8      10        0    1    0      0